@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
body {
  margin: 0;
  padding: 0;
  background-color: rgba(26, 179, 193, 0.3);
  font-family: sans-serif; }

.headline {
  padding: 0 15vw;
  font-family: "Dancing Script";
  font-size: 4rem;
  color: #1ab3c1;
  text-align: center; }

.App {
  text-align: left; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
