@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

// TODO same shade of $blue using Sass to lighten

$blue: hsla(185, 76%, 43%, 1);
$blue-light: lighten($blue, 30);
$blue-lightest: lighten($blue, 40);

body {
  margin: 0;
  padding: 20px 40px;
  background-color: $blue-lightest;
  font-family: sans-serif;
}


.headline {
  padding: 0 15vw;
  font-family: "Dancing Script";
  font-size: 4rem;
  color: $blue;
  text-align: center;
}

.events {
  display: flex;
  flex-wrap: wrap;
}

.event-item {
  list-style-type: none;
  border: 3px solid $blue-light;
  flex-basis: 28%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 20px;
}

.event-item.priority {
  background: white;
  border-color: $blue;
}

.event-item__image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-item__text {
  padding: 20px;
}

.event-type-icon {
  float: left;
  margin-right: 10px;
}

.event-item__date {
  font-size: 1.5rem;
  font-weight: bold;
}

.event-item__url {
  font-weight: bold;
  text-decoration: none;
  color: $blue;

  &:before {
    content: '\f0c1';
    font-family: 'FontAwesome';
    margin-right: 5px;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.react-add-to-calendar {
  position: relative;
  margin: 20px auto;
}

.react-add-to-calendar__wrapper {
  display: inline-block;
}

.react-add-to-calendar__button {
  border: 2px solid $blue-light;
  padding: 10px;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    border-color: $blue;
    background-color: $blue-light;
  }
}

.react-add-to-calendar__dropdown {
  position: absolute;
  background-color: white;
  border: 2px solid $blue;
  padding: 20px;
  right: 0;
  bottom: 0;
  border-radius: 5px;

  ul {
    padding: 0;
  }

  li {
    padding: 5px;
    list-style-type: none;

    a {
      color: $blue;
      text-decoration: none;
    }
  }
}
